*.code-workspace

# Environment Variables
.env

# mounted volume
sites

deploy_key
deploy_key.pub

# Pycharm
.idea

# custom
09_06_22_01_55_02___A-224 - SECTION D-D-Layout3.png
out.png
09_06_22_01_55_02___A-224 - SECTION D-D-Layout3.svg
2020-10-07-EBHUB_SITE PLAN.pdf
2020-10-07-EBHUB_SITE PLAN.png
2020-10-07-EBHUB_SITE PLAN.svg
210408-EBH-DB-Schedule-Tracker-R5-MSP.json
210408-EBH-DB-Schedule-Tracker-R5-MSP.mpp
employee_backup.json
test.txt
thumbnail_generate.py
